:root {
  --primary: #fede00;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--primary);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 6px 0;
}

* {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.button {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.15), inset 0 0.1rem 0.2rem #fff,
    inset 0 -0.1rem 0.1rem rgba(0, 0, 0, 0.05);
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 0.75rem;
  padding: 0.75rem 1rem;
  position: relative;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.button:hover {
  opacity: 0.9;
}

.row {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.user-details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}

.user-avatar {
  /* display: block; */
  flex-direction: row;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
