:root {
  --primary: #fede00;
  --mouse--primary: #222222;
  --mouse--secondary: #fede00;
  --dark: #111111;
}

html,
body {
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  background-color: var(--primary);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 6px 0;
}

::selection {
  background-color: var(--primary);
  color: white;
}

/* LAYOUT */
.content {
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.header {
  padding: 1rem;
  background-color: var(--dark);
  color: var(--primary);
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  padding: 1rem;
  background-color: var(--dark);
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.text-center {
  text-align: center;
}

/* COMPONENT */
.button {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.15), inset 0 0.1rem 0.2rem #fff,
    inset 0 -0.1rem 0.1rem rgba(0, 0, 0, 0.05);
  font-size: 1rem;
  font-weight: 500;
  margin: 0 auto 0.75rem auto;
  padding: 0.75rem 1rem;
  position: relative;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.button:hover {
  opacity: 0.9;
}

.row {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.user-details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}

.user-avatar {
  flex-direction: row;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

/* CURSOR */
* {
  cursor: none;
}

.cursor-dot,
.cursor-dot-outline {
  z-index: 1;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  height: 8px;
  width: 8px;
  background-color: var(--mouse--primary);
}

.cursor-dot-outline {
  opacity: 0.8;
  height: 40px;
  width: 40px;
  background-color: var(--mouse--secondary);
}
